main {
    width: 100%;
    height: 100%;
}

.p {
    font-size: 1rem;
}

.chatting {
    display: inline-block;
    position: sticky;
    margin-left: 93%;
    margin-top: -110px;
    padding-bottom: 100px;
    top: 30%;
    width: 80px;
    padding-bottom: 8px;
    border: 2px solid black;
    background: whitesmoke;
}

.mainInformation {
    height: 500px;
    background-color: #E0D6D3;
}

.mainTodayRecipe {
    height: 500px;
    background-color: #A19997;
}

.mainNewProduct {
    height: 500px;
    width: 100%;
    background-color: #555150;
}

.advertisingImage {
    width: 100%;
    height: 100%;
    margin: auto;
}

.mainNewProductInfo {
    justify-content: space-around;
    display: flex;
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-top: 30px;

}

.mainSubTitleText {
    margin: 80px;
    font-size: 1.8rem;
}

.drinksImage {
    width: 200px;
    height: 200px;
    margin-top: 15%;
}

.RecipeText {
    float: right;
    margin-right: 20%;
    margin-top: 2%;
}

.todayRecipeImage {
    margin-left: 15%;
    margin-top: 5%;
}

.recommendDrinks {
    justify-content: space-around;
    display: flex;
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-top: 3%;
}

.recommendDrinksText {
    margin-top: 25%;
    color: rgb(185, 178, 110);
    font-size: 3rem;
    text-shadow: 3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}