canvas{
    width: 500px;
    height: 500px;
    text-align: center;
    line-height: 100vh;
    margin: 0 auto;
}

h1{
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: center;
}

button{
    display: block;
    float: right;
    margin: 50px;
}