header{
    margin-top: 1%;
    text-align: center;
}

p{
    margin-top: 5px;
    font-size: 0.8rem;
}

.form-group {
    width: 400px;
}

.btn {
    width: 20%;
    margin: auto;
    margin-left: 40%;
    text-align: center;
}